@import "tailwindcss";

@theme {
  --color-border: rgb(41, 41, 41);
  --color-primary-gradient: linear-gradient(90deg, #e8a2a0 0%, #9468f1 50%, #71cce9 100%);
  --color-interactive-secondary-bg: rgba(181, 138, 255, 0.12);
  --color-interactive-link: rgb(181, 138, 255);
  --color-vestgrey-900: #080f18;
  --color-vestgrey-800: #111d2e;
  --color-vestgrey-100: #6683a7;
  --color-vestgrey-50: rgb(242, 241, 240);
  --color-primary: rgb(255 90 68);
  --color-background: #030a13;
  --color-green: rgb(86 245 190);
  --color-red: rgb(243 43 70);
  --text-sm: 10.5px;
  --text-md: 12px;
  --text-lg: 13.5px;
  --text-xl: 15px;
  --color-main-bg: #030a13;
  --color-container-bg: #080f18;
  --color-container-bg-hover: #111d2e;
  --color-container-bg-selected: #111d2e;
  --color-container-bg-tweet: #111d2e;
  --color-container-border: #101a27;
  --color-tooltip-bg: #152a44;
  --color-tab-selected-bg: #101a27;
  --color-card-border-hover: #152a44;
  --color-fuel-table-header-bg: #030a13;
  --color-fuel-table-row-bg: #080f18;
  --color-button-border: #132236;
  --color-button-disabled: #101a27;
  --color-border-2: #101a27;
  --color-button-secondary-bg: #132236;
  --color-button-secondary-bg-hover: #152a44;
  --color-button-secondary-stroke-hover: #101a27;
  --color-button-secondary-selected: #152a44;
  --color-tabs-selected: #101a27;
  --color-tabs-hover: #101a27;
  --color-tabs-default-fill: #080f18;
  --color-chip-default-bg: #152a44;
  --color-chip-default-text: #d4d4d8;
  --color-connect-button-icon-background: #030a13;
  --color-connect-button-icon-border: #030a13;
  --color-status-neutral-bg: #6683a7;
  --color-status-neutral-text: #101a27;
  --color-feedback-button: #6683a7;
  --color-button-border-hover: rgba(255, 255, 255, 0);
  --color-input-bg: #101a27;
  --color-input-bg-hover: #132236;
  --color-input-border: #152a44;
  --color-stroke-secondary: #101a27;
  --color-scroll-bar: #111d2e;
  --color-text-default: #d4d4d8;
  --color-text-selected: #080f18;
  --color-text-inverted-selected: #000000;
  --color-text-secondary: #6683a7;
  --color-text-tertiary: #465e7a;
  --color-text-disabled: #2e4665;
  --color-text-emphasis: #d4d4d8;
  --color-text-interactive: #6683a7;
  --color-interactive-link: #b58aff;
  --color-text-secondary-button: #d4d4d8;
  --color-text-featured-chip: #ffffff;
  --color-text-gradient-button: #000000;
  --color-text-negative-red-button: #ff887f;
  --color-text-positive-green-button: #5dd5a0;
  --color-text-label: #6683a7;
  --color-text-input: #d4d4d8;
  --color-text-default-2: #d4d4d8;
  --color-text-primary-button: #000000;
  --color-static-emphasized: #d4d4d8;
  --color-static-default: #6683a7;
  --color-positive-green: #34cb88;
  --color-positive-green-hover: #5dd5a0;
  --color-positive-green-pressed: #5dd5a0;
  --color-negative-red: #ff615c;
  --color-negative-red-hover: #ff887f;
  --color-negative-red-pressed: #ff887f;
  --color-brand-yellow: #f2c94c;
  --color-brand-yellow-hover: #ffdd75;
  --color-brand-yellow-pressed: #ffdd75;
  --color-warn-yellow: #f2c94c;
  --color-warn-yellow-hover: #ffdd75;
  --color-warn-yellow-pressed: #ffdd75;
  --color-label-secondary-bg: #6683a7;
  --color-buy-hover: #5dd5a0;
  --color-buy-pressed: #5dd5a0;
  --color-sell-hover: #ff887f;
  --color-sell-pressed: #ff887f;
  --color-white: #ffffff;
  --color-positive-green-secondary-bg: rgba(52, 203, 136, 0.2);
  --color-negative-red-secondary-bg: rgba(255, 97, 92, 0.2);
  --color-warn-yellow-secondary-bg: rgba(242, 201, 76, 0.2);
  --color-brand-yellow-secondary-bg: rgba(242, 201, 76, 0.2);
  --color-interactive-secondary-bg: rgba(181, 138, 255, 0.12);
  --color-grad_brand_2: #ff3873;
  --color-grad_brand_3: #711eff;
  --color-grad_primary_1: #e8a2a0;
  --color-grad_primary_2: #9468f1;
  --color-grad_primary_3: #71cce9;
  --color-grad_brand_1: #f6f063;
  --color-grad_brand_4: #3fe5ff;
  --color-grad_brand_5: rgba(224, 119, 116, 0);
  --color-white_20: rgba(255, 255, 255, 0.2);
  --color-white_10: rgba(255, 255, 255, 0.1);
  --color-white_0: rgba(255, 255, 255, 0);
  --color-black_0: rgba(0, 0, 0, 0);
  --color-grad_point_1: #ff2897;
  --color-grad_point_2: #8e67ff;
  --color-grad_point_3: #007bff;
  --color-grad_point_4: #8bc3ff;
  --color-grad_fuel_1: #0ab8df;
  --color-grad_fuel_2: #d867ea;
  --color-grad_fuel_3: #fded5d;
  --color-grad_fuel_4: #00295f;
  --color-grad_fuel_5: #132236;
  --color-grad_fuel_6: #f3abff;
  --color-grad_fuel_7: #69ebff;
  --color-grad_fuel_8: #132236;
}

:root {
  background-color: var(--color-background);
  color: white;
  scrollbar-width: none;
}

/* solana wallet adaptor custom styles */
.wallet-adapter-button {
  height: 35px !important;
  color: white !important;
  background-color: rgb(15 15 15) !important;
  border: 1px;
}

.wallet-adapter-button:hover {
  background-color: rgb(70, 70, 70) !important;
}

.wallet-adapter-modal-title {
  background-color: rgb(15 15 15) !important;
  border-radius: 10px !important;
  color: white !important;
}

.wallet-adapter-modal-wrapper {
  background-color: rgb(15 15 15) !important;
  padding-bottom: 20px;
}

.wallet-adapter-modal-button-close {
  background-color: rgb(15 15 15) !important;
}

.wallet-adapter-dropdown-list {
  background-color: rgb(15 15 15) !important;
}

.wallet-adapter-dropdown-list-item {
  color: white !important;
}

.wallet-adapter-dropdown-list-item:hover {
  color: white !important;
  background-color: rgb(15 15 15) !important;
}
